{{> menu}}

<form class="box" action="/station/{{station._id}}/updatedetail/{{detail._id}}" method="POST">
  <label>Detail Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter code" name="code" value="{{detail.title}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter temp" name="temp" value="{{detail.artist}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter speed" name="duration" value="{{detail.duration}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter direction" name="direction" value="{{detail.title}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter pressure" name="pressure" value="{{detail.title}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Detail</button>
</form>